<div class="banner" style="background-image: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)), url(https://images.pexels.com/photos/1200450/pexels-photo-1200450.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=750&w=1260);">
  <div class="container">
    <h1>Add a movie to the database</h1>
  </div>
</div>

<div class="container">
  <form id="search-movies" class="form-inline">
    <input id="keyword" type="text" class="form-control ml-auto mr-2" placeholder="Find movies">
    <input type="submit" class="btn btn-primary mr-auto ml-2" value="Search">
  </form>
</div>


<div class="container text-center">
  <h3>Search results</h3>
  <ul id="results" class="list-inline">

  </ul>
</div>
